@media (min-width: 600px) {
  .mx-auto {
    width: 50%;
    font-family: "Poppins", sans-serif;
  }
}

.mx-auto h4 {
  font-weight: 550;
  text-align: start;
  padding-top: 0.5rem;
  padding-left: 0;
  margin-left: 0;
}

.card-header,
.card-footer {
  padding-top: 0.5rem;
}
.col-2 {
  display: flex;
}
.col-10 {
  display: flex;
  align-items: center;
  justify-content: start;
}
.card-header img {
  width: 80%;
  height: auto;
}
